{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<footer>
	<div class="footer">
	<div class="footer-box1">
		<div class="footer-box1-box1"><div class="mt-ft-box">خدمات</div><div class="mt-ft-box1">اجاره خانه</div><div class="mt-ft-box1">دیدن مجودی</div><div class="mt-ft-box1">گرفتن فاکتور</div></div>
		<div class="footer-box1-box2"><div class="mt-ft-box">اطلاعات </div><div class="mt-ft-box1">راهنمای خرید</div><div class="mt-ft-box1">قوانین و مقررات</div><div class="mt-ft-box1">سوالات متداول</div></div>
		<div class="footer-box1-box3"><div class="mt-ft-box">سایت ما</div><div class="mt-ft-box1">درباره ما</div><div class="mt-ft-box1">تماس با ما</div><div class="mt-ft-box1">رسانه</div></div></div>
	    <div class="footer-box2">
		<div class="mil-box"><div class="mil-box1">تلفن پشتیبانی:01114201</div><div class="mil-box3"><div class="mil-box3-lin"></div></div><div class="mil-box2">ایمیل پشتیبانی:support@sit.ir</div></div>
		<div class="logo-box"><i class="fa-solid fa-comment"></i></div>
		<div class="logo-box"><i class="fa-solid fa-phone"></i></div>
		<div class="logo-box"><i class="fa-solid fa-envelope"></i></div>
		<div class="logo-box"><i class="fa-brands fa-instagram"></i></div>
		</div>
	</div>
</footer>