<!doctype html>
<html>
<head>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<title>ورود</title>
</head>

<body>
	<div class="min">
	<div class="login-box">
	<h2>ورود</h2>
		<form method="post">
			{% csrf_token %}
		<div  class="user-box">
			<input type="text" name="username" required="">
			<label>کد پرسنلی</label>
			</div>
			<div class="user-box">
			<input type="password" name="password" required="">
				<label>کلمه عبور</label>
			</div>
			<div class="button-form">
			<button type="submit" id="submit" style="margin-right: 22%;">ورود</button>
				
			</div>
			<div class="creat-ac" style="margin-right: 17%;">
				<span>حساب کاربری ندارید؟</span>
				<a class="text-primary" href="{% url 'signup' %}">ساخت حساب کاربری</a>
			</div>
		</form>
		
	
			{% if messages %}
				{% for message in messages %}
					<div class="message {{ message.tags }}">{{ message }}</div>
				{% endfor %}
			{% endif %}
	

		<script>
		// Get the modal
		var modal = document.getElementById('id01');
		
		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
		  if (event.target == modal) {
			modal.style.display = "none";
		  }
		}
		</script>
</body>
</html>


